html, body {
  margin: 0;
}
.clear {
  clear: both;
}
.main-wrap {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 5px #bfbfbf;
  -webkit-box-shadow: 0 0 5px #bfbfbf;
  box-shadow: 0 0 5px #bfbfbf;
  width:40%;
  padding: 1em;
  min-height: 75%;
  margin: 1% auto;
}
.main-content {
  margin: 15px auto 15px;
  width: 95%;
}
.adding-btn {
  color: #fff;
  font-size: 0;
  width: 19%;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0;
  background: url(../img/add-button.png) top right no-repeat;
  cursor: pointer;
  float: right;
}
.logout-st {
  cursor: pointer;
  color: #ccc;
}
.input-style, .logout-st  {
  font-size: 17px;
  line-height: 24px;
  height: 24px;
  width: 381px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.input-wrap {
  display: block;
  float: left;
  padding: 7px 12px 7px 12px;
  background-repeat: no-repeat;
  background-position: left top;

  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  width: 80%;
}
/* ================== */
/* style of todo view */
/* ================== */
.todo-list {
  position: relative;
  margin: 10px 0px 0px 0px;
}
.todo-item {
  font-size: 20px;
  padding: 6px;
  position: relative;
  border-bottom: 1px dotted #cfcfcf;
}
.todoDone {
  color: #666;
  text-decoration: line-through;
}
.todo-remove{
  position: absolute;
  /*right: 0;*/
  right: 0px;
  top: 9px;

  cursor: pointer;
}
.todo-remove-icon {
  width: 15px;
  height: 15px;
  display: block;
  background: url(../img/remove.png) no-repeat;
  /*visibility: hidden;
  opacity: 0.6;*/
  opacity: 1;
}
/*.todo-remove-icon.showRemove {
  visibility: visible;
}
.todo-remove-icon.showClear {
  visibility: visible;
  opacity: 1;
}*/

.todo-edit {
  display: none;
}
.todo-edit.show-edit{
  display: block;
}
.todo-checkbox {
  float: left;
}
.todo-content {
  /*white-space: pre-wrap;  css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, начиная с 1999 года */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */

  float: left;
  display: block;
  width: 445px;
}
.todo-lable.hide-edit {
  display: none;
}
.todo-lable {
  cursor: pointer;
  white-space: -moz-pre-wrap; /* Mozilla, начиная с 1999 года */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  width: 90%;
  margin: 0px auto;
  float: left;
}
.todo-edit {
  background: #FEFCFF;
  border: 1px solid #ccc;
  webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  width: 90%;
  padding: 2px 0px 0px 0px;
  margin: 0px 0px 0px 18px;

  font-size: 17px;
  line-height: 24px;
  height: 24px;
  font-family: Arial, sans-serif;
}
/*.todo-edit {
  outline:none;

  border: none;
  background: transparent;

  margin: 0;
  width: 445px;
  padding: 0;

  font-size: 17px;
  line-height: 24px;
  height: 24px;
  font-family: Arial, sans-serif;
}*/
/* --------------------------- */
/* custom checkbox input style */
/* --------------------------- */
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + span {
  float: left;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(../img/check_radio_sheet.png) left top no-repeat;
  cursor:pointer;
}
input[type="checkbox"]:checked + span {
  background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}
/*--------------------------------*/
/*---------Login page ------------*/
/*--------------------------------*/
/*html {
    height: 100%;
    background-color: #ECCFD3;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A2B5DD), to(#ECCFD3), color-stop(.5,#EAE8ED));
    background: -moz-linear-gradient(top, #A2B5DD 0%, #EAE8ED 50%, #ECCFD3 100%);
}*/
body {
    font-family: 'Open Sans', sans-serif;
}
.login-form, .reg-wrap {
    background:#eee;
    width: 26%;
    margin: 9% auto 4% auto;
    position: relative;
    -webkit-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
}
.main {
    position:relative;
}
.main h1, .reg-wrap h1 {
    font-size: 25px;
    color: #676767;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-top: 10%;
    text-align: center;
}
.main form {
    width: 80%;
    margin: 0 auto;
    padding: 6% 0 0 0;
}
.main p {
    text-align: center;
}
.main form p a {
    color: #888;
    font-family: 'Open Sans', sans-serif;
}
form p a:hover {
    color: #7C91AC;
}
.main input[type="text"], .main input[type="password"] {
    text-align:left;
    position: relative;
    width: 92%;
    padding: 3% 4%;
    background: #D3D3D3;
    margin-bottom: 6%;
    font-family: 'Open Sans', sans-serif;
    color: #676767;
    font-weight:600;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-appearance:none;
}
.main input[type="submit"], .main .sign-up {
    width: 100%;
    padding: 3%;
    margin-bottom: 7%;
    background: #8C9EB7;
    font-family: 'Open Sans', sans-serif;
    color: #ECECEC;

    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight:500;
    border-radius: 5px;
}
.main .sign-up {
    background: #e3aa00;
    width: 80%;
    margin: 0 auto;
}
.main input[type="submit"]:hover{
    background:#7C91AC;
    color:#fff;
}
.main .sign-up:hover {
    background: #d68f00;
}
.sign-up-wrap {
    padding-bottom: 7%;
}
.login-error {
    background: #F2DEDE;
    border: 1px solid #EED3D7;
    color: #B94A48;

    width: 100%;
    padding: 3%;
    margin-bottom: 7%;
    border-radius: 5px;
}
/*------------------*/
/*----Responsive----*/
/*------------------*/
@media (max-width:1440px){
    .main-wrap {
        width:40%;
    }
    .login-form, .reg-wrap {
        width:30%;
        margin: 11% auto 4% auto;
    }
    .main h1, .reg-wrap h1 {
        padding-top: 10%;
    }
}

@media (max-width:1366px){
    .main-wrap {
        width:42%;
    }
    .login-form, .reg-wrap {
        width: 32%;
        margin: 10% auto 4% auto;
    }
}

@media (max-width:1280px){
    .main-wrap {
        width:47%;
    }
    .login-form, .reg-wrap  {
        margin: 8% auto 0;
        width:34%;
    }
}

@media (max-width:1024px){
    .main-wrap {
        width:65%;
    }
    .login-form, .reg-wrap  {
        margin: 1% auto;
        width:45%;
    }
}

@media (max-width:768px){
    .main-wrap {
        width:76%;
    }
    .login-form, .reg-wrap  {
        margin: 1% auto;
        width: 59%;
    }
}

@media (max-width:640px){
    .main-wrap {
        width:80%;
    }
    .login-form, .reg-wrap {
        margin: 1% auto;
        width: 63%;
    }
}

@media (max-width:480px) {
    .main-wrap {
        width:90%;
    }
    .login-form, .reg-wrap {
        margin: 1% auto;
        width: 74%;
    }
    .main h1, .reg-wrap h1 {
        font-size: 22px;
    }
    input[type="text"], input[type="password"], input[type="submit"] {
        font-weight: 600;
        margin-bottom: 4%;
    }
}

@media (max-width:320px) {
    .main-wrap {
        width:95%;
    }
    .login-form, .reg-wrap  {
        margin: 1% auto;
        width: 85%;
    }
    .main h1, .reg-wrap h1 {
        padding-top: 10%;
        font-size: 20px;
    }
    input[type="text"], input[type="password"],input[type="submit"] {
        font-weight:600;
        font-size: 15px;
    }
    .main form p a {
        font-size: 15px;
    }
    input[type="submit"] {
        padding: 4%;
    }
}
/*------------------*/
/*---Registration---*/
/*------------------*/
.reg-wrap h1 {
    padding-bottom: 5%;
}
.reg-wrap .wrap-form-elem {
    width: 95%;
    margin: 0px auto;
}
.reg-wrap .reg-label {
    font-size: 20px;
    color: #676767;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0px 0px 5px 0px;
    display: block;
}
.reg-wrap .reg-input {
    text-align:left;
    position: relative;
    width: 92%;
    padding: 3% 4%;
    background: #D3D3D3;
    margin-bottom: 6%;
    font-family: 'Open Sans', sans-serif;
    color: #676767;
    font-weight:600;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-appearance:none;
}
.reg-submit {
    width: 100%;
    padding: 3%;
    margin-bottom: 7%;
    background: #8C9EB7;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
}