<div class="main-wrap" >

    <div ng-controller="MainContainer" class="main-content">
        <div>{{error}}</div>
        <p ng-click="logout()" class="logout-st">
            Logout
        </p>
        <!-- HEADER  -->
        <form ng-submit="addingToList()">
            <p class="input-wrap">
                <input class="input-style" ng-model="formData.text" type="text" size="30" placeholder="add new todo here"/>
            </p>
            <input class="adding-btn" type="submit" value="add"/>
        </form>

        <div class="clear"></div>

        <!-- LIST  -->
        <ul class="todo-list">

            <li class="todo-item" ng-repeat="todo in todos">

                <input type="checkbox" class="todo-checkbox" default-state="{{todo.done}}"/>
                <span class="custom-checkbox" check-box-span="flagChecked"></span>

                <label show-edit="flagOfBlur" class="todo-lable" title="click to edit">
                    {{ todo.text }}
                </label>

                <input type="text" class="todo-edit" value="{{ todo.text }}"
                       attr-id="{{ todo._id }}"  blur-edit="flagOfBlur" />

                <span class="todo-remove" title="remove">
                    <span class="todo-remove-icon" ng-click="deleteTodo(todo._id)" ></span>
                </span>

                <div class="clear"></div>
            </li>

        </ul>

    </div>
</div>