<div ng-controller="UserCtrl">

    <div class="main">
        <div class="login-form">

            <h1>Member Login</h1>

            <span ng-show="isAuthenticated">{{welcome}}</span>

            <form ng-show="!isAuthenticated" ng-submit="submit()">
                <input ng-model="valName" type="text" name="user" placeholder="USERNAME" />
                <input ng-model="valPass" type="password" name="pass" placeholder="PASSWORD" />
                
                <div ng-show="error" class="login-error">{{error}}</div>

                <div class="submit">
                    <input type="submit" value="LOGIN" />
                </div>
                <!--<p>
                    <a href="#">Forgot Password ?</a>
                </p>-->
            </form>

            <div ng-show="!isAuthenticated" class="sign-up-wrap">
                <div class="sign-up" ng-click="goRegForm()">
                    <p>SIGN UP</p>
                </div>
            </div>

            <div ng-show="isAuthenticated">
                <div>{{message}}</div>
                <a ng-click="logout()" href="../">Logout</a>
            </div>

        </div>
    </div>

</div>