<div ng-controller="RegistrationUser" class="reg-wrap">
    <form ng-submit="submit()">
        <h1> Registration </h1>

        <div class="wrap-form-elem">
            <p>
                <label for="username" class="reg-label"> Your username </label>
                <input ng-model="valueNm" id="username"  class="reg-input" name="username" required="required" type="text" />
            </p>

            <p>
                <label for="password" class="reg-label"> Your password </label>
                <input ng-model="valuePass" id="password" class="reg-input" name="password" required="required" type="password" />
            </p>

            <p ng-show="error" class="login-error">
                {{error}}
            </p>

            <p>
                <input type="submit"  class="reg-submit" value="Register" />
            </p>
        </div>
    </form>
</div>